@import "_variables";
@import "_mixins";
@import "_formMixins";

.formLabel {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: $white;
  font-size: 1.25rem;
}

.formRow {
  @include defaultFormRow;
  width: 23rem;
}

.deleteConfirmRow {
  @include defaultFormRow;
  width: 23rem;
  align-items: flex-end;
}

.formRowDefault {
  @include defaultFormRow;
}

.formRowSmall {
  @include defaultFormRow;
  width: 14rem;
}

.checkbox {
  padding-bottom: 1rem;
  position: relative;
  display: flex;
  justify-items: center;
  width: 14rem;
}

input[type="button"] {
  @include winStateColors;
  @include winStateHover;
  @include defaultInputElement;
  width: 10rem;
  cursor: pointer;
  padding: 0.5rem;
  margin-top: 1rem;
}

input[type="number"] {
  @include inputField;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="text"] {
  @include inputField;
}

input[type="date"] {
  @include inputField;
}

input[type="checkbox"] {
  @include defaultInputElement;
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.5rem;
  appearance: none;
  cursor: pointer;
}

.formCard {
  @include cardObject;
  width: 26rem;
  border-radius: 0.4rem;
  @include defaultCardBorder;
  flex-direction: column;
}

.checkboxLabel {
  @include defaultFont;
  padding-top: 0.25rem;
  cursor: pointer;
}

.checkmark {
  color: $white;
  font-size: 0.9rem;
  position: absolute;
  left: 0.6rem;
  top: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}
