@import "_variables";
@import "_accountMixins";
@import "_headlineMixins";

.orderProps {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  @include bottomBorderHeadline;
}

.orderInfos {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  align-items: center;
}

.ordersCard {
  margin: 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  display: flex;
  align-items: left;
  border-radius: 0.4rem;
  @include defaultCardBorder;
  flex-direction: column;
}

.orderType {
  @include accountInfo;
  width: 3rem;
}

.orderAmount {
  @include accountInfo;
  width: 6rem;
  text-align: end;
  padding-right: 1rem;
}

.orderAmountHeadline {
  @include accountInfo;
  width: 6rem;
  text-align: end;
  padding-right: 1rem;
}

.orderPrice {
  @include accountInfo;
  width: 6rem;
  text-align: end;
  padding-right: 1rem;
}

.orderPriceHeadline {
  @include accountInfo;
  width: 6rem;
  text-align: end;
  padding-right: 1rem;
}

.orderCost {
  @include accountInfo;
  width: 6rem;
  text-align: end;
  padding-right: 1rem;
}

.orderCostHeadline {
  @include accountInfo;
  width: 6rem;
  text-align: end;
  padding-right: 1rem;
}

.orderSum {
  @include accountInfo;
  width: 8rem;
  text-align: end;
  padding-right: 1rem;
}

.orderSumHeadline {
  @include accountInfo;
  width: 8rem;
  text-align: end;
  padding-right: 1rem;
}
