@import "_variables";
@import "_mixins";

.sidebarLeft {
  @include sidebar;
  left: 0;
  border-right: 0.25rem solid $cardBorder;
}

.sidebarRightData {
  @include sidebar;
  right: 0;
  border-left: 0.25rem solid $cardBorder;
  z-index: 1;
}

.sidebarRight {
  @include sidebar;
  right: 0;
  border-left: 0.25rem solid $cardBorder;
}
