@import "_variables";
@import "_accountMixins";
@import "_headlineMixins";

.transactionId {
  @include accountInfo;
  width: 1rem;
}

.transactionDate {
  @include accountInfo;
  width: 6rem;
}

.transactionName {
  @include accountInfo;
  width: 15rem;
}

.transactionCategory {
  @include accountInfo;
  width: 10rem;
}

.transactionAmount {
  @include accountInfo;
  width: 7rem;
  text-align: end;
}

.transactionAmountHeadline {
  @include accountInfo;
  width: 7rem;
}

.transactionFrom {
  @include accountInfo;
  width: 10rem;
}

.transactionTo {
  @include accountInfo;
  width: 10rem;
}

.transactionsCard {
  margin: 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  display: flex;
  align-items: left;
  border-radius: 0.4rem;
  border: 0.25rem solid $cardBorder;
  background-color: $cardBackground;
  flex-direction: column;
}

.transactionProps {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  @include bottomBorderHeadline;
}

.transactionInfos {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.transactionsHeadline {
  @include flexSpace;
  color: $white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  border-bottom: 0.15rem solid $cardBorder;
  margin-bottom: 2rem;
  width: max-content;
}
